<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="tm_bestofferseller_add_to_cart"
                  instance="Tm\BestOfferSeller\Observer\Cart\AddToCart" />
    </event>
    <event name="sales_order_item_save_after">
        <observer name="tm_bestofferseller_order_item_register"
                  instance="Tm\BestOfferSeller\Observer\Sales\OrderItemSaveAfter" />
    </event>
</config>
