<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tm_provider>
            <general>
                <success_rate>70</success_rate>
            </general>
        </tm_provider>
    </default>
</config>
